<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Com">
	
<!-- 작성된 댓글에 대한리스트 -->
	
	<select id="replyList" resultType="Com">
	 SELECT * FROM RGESIPAN where RTYPE='운동기구' ORDER BY RID
	 </select>
	 <select id="replyList2" resultType="Com">
	 SELECT * FROM RGESIPAN where RTYPE='레시피' ORDER BY RID
	 </select>
	
	<!-- 댓글이 써지는 쿼리이이이 쿼리 -->
	<insert id="gesipanreply" parameterType="Com" useGeneratedKeys="true"
			keyProperty="Cid">
			INSERT INTO TOCOMMENT VALUES(TOCOMMENT_SEQ.nextval,#{rid},#{ccontent},
			#{cwriter},SYSDATE,0)
			<selectKey keyProperty="Cid" resultType="int" order="AFTER">
				SELECT TOCOMMENT_SEQ.CURRVAL FROM DUAL
			</selectKey>
	</insert>
	<!-- 비디오 댓글 보기-->
	<select id="videoReplyView" parameterType="int" resultType="Com">
		SELECT * FROM VIDEO_COMMENT WHERE RID=#{rid}
		</select>
	<!-- 비디오 댓글 작성 -->
	<insert id="videoReply" parameterType="Com" useGeneratedKeys="true"
			keyProperty="Cid">
			INSERT INTO video_comment VALUES(VIDEO_COMMENT_SEQ.nextval,#{Rid},#{Ccontent},
			#{Cwriter},SYSDATE)
			<selectKey keyProperty="Cid" resultType="int" order="AFTER">
				SELECT VIDEO_COMMENT_SEQ.CURRVAL FROM DUAL
			</selectKey>
	</insert>
	<!-- 게시판에 단 댓글 작성 보여주는 쿼리 -->
	<select id="replyView" parameterType="int" resultType="Com">
		SELECT * FROM TOCOMMENT WHERE RID=#{rid}
		</select>
	
	<!-- 게시글에 달린 답글을 신고해보자 -->
	<update id="gesipanDeclaration" parameterType="int">
		UPDATE RGESIPAN SET RDECLARATION=RDECLARATION+1 WHERE RID=#{rid}
	</update>
	<!--  좋아요를 누르면 +1 좆까 누르면 -1 될끄야ㅏㅏ -->
	<update id="ReplyLike" parameterType="int">
		UPDATE TOCOMMENT SET TOLIKE=TOLIKE+1 WHERE CID=#{cid}
	</update>
</mapper>